<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="grid.css">
    <link rel="stylesheet" href="style.css">

</head>

<body>
    <section id="sec-top-bar">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                    </div>
                </div>
                <div class="col-5">
                    <div class="welcome">
                        <p>「おはよう！」にもギフトを添えて贈ろう。</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="action">
                        <a class="action-link" href="">新規登録 / ログイン</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="trangcuatoi">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="menu">
                        <span><a href="">TOP</a></span>
                        <span class="top"> <a href=""> マイページ</a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="chu">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="chu">
                        <span class="font-weight">マイページ</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="thongtin">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="row">
                        <div class="col-4">
                            <div class="dichvu dichvu-1">
                                <div class="anh">
                                    <img src="images/border1.png" alt="">
                                    <img src="images/border11.png" alt="">
                                </div>
                                <div class="font-weight">
                                    <a href="" class="chu">もらった商品 </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dichvu dichvu-2">
                                <div class="anh">
                                    <img src="images/border22.png" alt="">
                                    <img src="images/border2.png" alt="">
                                </div>
                                <a href="" class="chu">おくった商品 </a>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="dichvu dichvu-3">
                                <div class="anh">
                                    <img src="images/border33.png" alt="">
                                    <img src="images/border3.png" alt="">
                                </div>
                                <a href="" class="chu3">おくりものSTORY</a>
                            </div>
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////// -->

                    <div class="row" id="tag">
                        <div class="col-3">
                            <div class="thongtin">
                                <div class="kyhieu">
                                    <img src="images/tag1.png" alt="">
                                </div>
                                <a href="" class="tagchu1">ポイント/割引チケット</a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thongtin">
                                <div class="kyhieu">
                                    <img src="images/tag2.png" alt="">
                                </div>
                                <a href="" class="tagchu">会員情報確認・変更</a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thongtin">
                                <div class="kyhieu">
                                    <img src="images/tag3.png" alt="">
                                </div>
                                <a href="" class="tagchu">会員お問い合わせ</a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="thongtin">
                                <div class="kyhieu">
                                    <img src="images/tag4.png" alt="">
                                </div>
                                <a href="" class="tagchu4">cotocoくじ</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="tieude">
                                <img src="images/anhtim.png" alt="" class="tim">
                                <a href="" class="anhtieude">お気に入り</a>
                            </div>
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////// -->
                    <div class="row" id="sanpham">
                        <div class="col-3">
                            <div class="sanpham">
                                <div class="anhsanpham">
                                    <img src="images/sanpham1.png" alt="">
                                    <img src="images/sanpham11.png" class="anh2" alt="">
                                </div>


                            </div>
                        </div>
                        <div class="col-3">
                            <div class="sanpham">
                                <div class="anhsanpham">
                                    <img src="images/sanpham2.png" alt="">
                                    <img src="images/sanpham11.png" class="anh2" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="sanpham">
                                <div class="anhsanpham">
                                    <img src="images/sanpham3.png" alt="" class="hamburgers">
                                    <img src="images/sanpham11.png" class="anh2" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="sanpham">
                                <div class="anhsanpham">
                                    <img src="images/sanpham4.png" alt="" class="anhcuoi">
                                    <img src="images/sanpham11.png" class="anh2" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /////////////////////////////////SIDEBAR//////////////////// -->

                <div class="col-3" id="position">
                    <div class="row" id="image-sidebar">
                        <div class="col-3">
                            <div class="sidebar">
                                <div class="anh-sidebar">
                                    <img src="images/anh-sidebar.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="name-people">
                                <a href="">こんにちわ <span class="font-weight">富士太郎</span>さん</a>
                            </div>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <a href="" class="poin-cototo">保有cotocoポイント:</a>
                    <div class="row" id="poin">
                        <div class="col-4"></div>
                        <div class="col-5 poin">1234</div>
                        <div class="col-3">point</div>
                    </div>
                    <div class="row" id="sidebar-duoi">
                        <div class="col-9">
                            <div class="sidebarleft">
                                <a href="">ご本人でない場合は</a>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="sidebarright">
                                <a href="">ログアウト</a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="categoryname">
                                <ul class="menu-sidebar">
                                    <li class="border-sidebar-black">
                                        <a href="">会員情報サービス</a>
                                    </li>
                                    <li class="border-sidebar-box">
                                        <a href="">マイページ</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text" >贈った商品</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href=""  class="sidebar-text">もらった商品</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text">贈り物STORY</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text">お気に入り</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text">ポイント/割引チケット確認</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text">会員情報確認・変更</a>
                                    </li>
                                    <li class="border-sidebar">
                                        <a href="" class="sidebar-text">cotocoくじ</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="imagesidebar">
                            <div class="luachon">
                                <a href="" class="name-luachon">選べる</a>
                                <img src="images/notnhac.png" alt="" class="notnhac">
                                <a href="" class="name_thuonghieu">cotoco</a>
                            </div>
                            <img src="images/Layer2.png" alt="" class="hinhanh">
                        </div>
                    </div>


                    <div class="row">
                        <div class="imagesidebar2">
                            <div class="thuonghieu">
                                <a href="" class="name-thuonghieu">cotoco アプリ</a>
                            </div>
                            <div class="ungdung">
                                <img src="images/iphone5c.png" alt="" class="iphone">
                                <img src="images/anhtho.png" alt="" class="tho">
                                <div class="lienket">
                                    <img src="images/appstore.png" alt="" class="appstore">
                                    <img src="images/googleplay.png" alt="" class="googleplay">
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container" id="footer">
            <div class="row">
                <div class="col-4">
                    <div class="footer-left">
                        <p>TOP 入店案内 提携/プロモーションのお問い合わせ 大量送信について</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="footer-center">
                        <p>ご利用規約 プライバシーポリシー 特定商取引法に関する表示 会社情報 サイトマップ</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="copyright">
                        <div class="nameweb">
                            <p>cotoco </p>
                        </div>
                        <div class="thongtin-copyright">
                            <a href="">Copyright © SK planet Japan. All rights reserved.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container"></div>
    </section>

</body>

</html>